.App {
  text-align: center;
}

.black-nav {
  display: flex;
  background: aquamarine;
  width: 100%;
  color: #631515;
  padding-left: 22px;
  flex:1;
}

div {
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  text-align: center;
  border-bottom: 1px solid gray;
}

a {
  text-decoration: none;
}

.modal {
  margin-top: 22px;
  padding: 1px;
  background: #d0cece;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
